@{   
    var characterData = Model.RaiderIOCharacterData;
    var raidData = Model.RaiderIOCharacterData.raid_progression.amirdrassilthedreamshope;
    var mythicPlusData = Model.RaiderIOCharacterData.mythic_plus_weekly_highest_level_runs;
}

@using WebApp.Models
@model CharacterLookupModel

<div class="align-items-center">
    <h1 style="color: @Model.classColor">Character: @characterData.name, @characterData.char_class </h1>
    <h2>@raidData.normal_bosses_killed/9N - @raidData.heroic_bosses_killed/9H Amirdrassil, the Dreams Hope</h2>
</div>

<div>
    <ul>
        @foreach (var i in mythicPlusData)
        {
            <li>
                @i.dungeon :
                @i.mythic_level
            </li>
        }
    </ul>
</div>

<div>
    <h4>You've completed @mythicPlusData.Count mythic plus runs this week!</h4>
    <p>You've unlocked these Great Vault slots:</p>
    <ul>
        @{
            var top8Dungeons = Model.DungeonVaultSlots.Take(8).ToList();

            if (top8Dungeons.Any())
            {
                int mythicSlot1 = top8Dungeons.FirstOrDefault();
                if (mythicSlot1 != 0)
                {
                    <li>Complete 1 Heroic, Mythic, or Timewalking Dungeon: Ilvl @mythicSlot1</li>
                }

                if (top8Dungeons.Count >= 4)
                {
                    int mythicSlot2 = top8Dungeons.Take(4).Min();
                    if (mythicSlot2 >= 4)
                    {
                        <li>Complete 4 Heroic, Mythic, or Timewalking Dungeons: Ilvl @mythicSlot2</li>
                    }
                }

                if (top8Dungeons.Count >= 8)
                {
                    int mythicSlot3 = top8Dungeons.Min();
                    if (mythicSlot3 >= 8)
                    {
                        <li>Complete 8 Heroic, Mythic, or Timewalking Dungeons: Ilvl @mythicSlot3</li>
                    }
                }
            }
        }
    </ul>
</div>
