@using Models.WhatChores
@model CharacterLookupModel

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
@if (Model.RaiderIOCharacterData is not null)
{   
    var characterData = Model.RaiderIOCharacterData;
    var raidData = Model.RaiderIOCharacterData.raid_progression.amirdrassilthedreamshope;
    var mythicPlusData = Model.RaiderIOCharacterData.mythic_plus_weekly_highest_level_runs;
    var top8Dungeons = Model.DungeonVaultSlots.Take(8).ToList();
    int normalBossesKilled = raidData.normal_bosses_killed;
    int heroicBossesKilled = raidData.heroic_bosses_killed;
    int mythicBossesKilled = raidData.mythic_bosses_killed;
  
    <div class="align-items-center">
                    <a style="color: @Model.classColor; text-decoration: none;" href="https://worldofwarcraft.blizzard.com/en-us/character/us/@characterData.realm/@characterData.name" target="_blank">
                        <h1 class="d-inline-flex">Character: @characterData.name</h1>
                        @if (characterData.guild is not null)
                        {
                            <h1 class="d-inline-flex ml-md-2 ml-sm-0">&lt;@characterData.guild.name&gt;</h1>
                            <br />
                        }
                        <h1 class="d-inline-flex ml-md-2 ml-sm-0">@characterData.active_spec_name @characterData.char_class</h1>
                        <br />
                        <img style="display: inline-block; margin-left: 10px" src="@characterData.thumbnail_url" />
                    </a>
        @if (raidData.summary is not "0/9 N") {
            <h2>
            @if (normalBossesKilled is not 0)
            {
                @normalBossesKilled <text>/9N -</text>
            }

            @if (heroicBossesKilled is not 0)
            {
                @heroicBossesKilled <text>/9H -</text>
            }

            @if (mythicBossesKilled is not 0)
            {
                @mythicBossesKilled <text>/9M -</text>
            }
                    Amirdrassil, the Dreams Hope
                </h2>            
            }
            else
            {
                <h2>You haven't run Amirdrassil at all!</h2><br />
            }           

    </div>
        @if (mythicPlusData.Count != 0)
        {
            int dungeonsDisplayed = 0;
            <div>
                <header>Top 10 mythic+ runs this week:</header>
                <ul>
                    @foreach (var run in mythicPlusData)
                    {
                        if (dungeonsDisplayed >= 10)
                        {
                            break;
                        }
                        <li>
                            +@run.mythic_level @run.dungeon
                        </li>
                        dungeonsDisplayed++;
                    }
                </ul>
            </div>
        }
    <div>
        @if (mythicPlusData.Count != 0)
        {
            <h4>You've completed @mythicPlusData.Count dungeon runs this week!</h4>
            <p>You've unlocked these Great Vault slots:</p>
            <ul>
                @{
                    if (top8Dungeons.Any())
                    {
                        if (top8Dungeons.Count >= 1)
                        {
                            int mythicSlot1 = top8Dungeons.FirstOrDefault();
                            <li>Complete 1 Heroic, Mythic, or Timewalking Dungeon: Ilvl @mythicSlot1</li>
                        }
                        if (top8Dungeons.Count >= 4)
                        {
                            int mythicSlot2 = top8Dungeons.Take(4).Min();
                            <li>Complete 4 Heroic, Mythic, or Timewalking Dungeons: Ilvl @mythicSlot2</li>

                        }

                        if (top8Dungeons.Count >= 8)
                        {
                            int mythicSlot3 = top8Dungeons.Min();
                            <li>Complete 8 Heroic, Mythic, or Timewalking Dungeons: Ilvl @mythicSlot3</li>
                        }
                    }
                }
            </ul>
            }
           
   <h3>                  
    @if (mythicPlusData.Count < 4 && mythicPlusData.Count != 0)
    {
        <text>You need to complete </text>@(4 - mythicPlusData.Count) @(" more dungeons" + (4 - mythicPlusData.Count == 1 ? "" : "") + " to unlock your next slot.")
    }
                else if (mythicPlusData.Count < 8 && mythicPlusData.Count != 0)
    {
        <text>You need to complete </text> @(8 - mythicPlusData.Count) @(" more dungeons" + (8 - mythicPlusData.Count == 1 ? "" : "") + " to unlock your next slot.")
    }
    else if (mythicPlusData.Count > 8)
    {
       <text>You've unlocked all M+ slots!</text>
    } else
    {
        <text>No M+ done this week!</text>
    }
    </h3>

  
   
    </div>
}

    else if (Model != null && Model.FailedToGetCharacter)
    {
        <p>Couldn't find your character!</p>
        <p>Make sure that you entered the correct name/realm combination and that your character has been scanned by <a href="https://raider.io" target="_blank">raider.io</a></p>
        <a class="btn btn-primary" href="CharacterLookup">Try Again</a>
    }
    else if (Model != null && Model.RealmNames.Any())
    {
                <form method="post" action="/Home/GetCharacter">
                    <div class="mb-3">
                        <label for="characterName" class="form-label">Character Name</label>
                        <input type="text" name="name" class="form-control" id="characterName" aria-describedby="characterName">
                    </div>
                    <div class="mb-3">
                        <label for="realmDataList" class="form-label">Realm</label>
                        <input name="realm" class="form-control" list="datalistOptions" id="realmDataList" placeholder="Type to search...">
                        <datalist id="datalistOptions">
                            @foreach (var realm in Model.RealmNames)
                            {
                                <option value="@realm.RealmName" />
                            }
                        </datalist>
                    </div>
                    <button type="submit" class="btn btn-primary">Find Character</button>
                </form>
    } else
    {
        <p>An Error Ocurred, please submit a ticket on the github repository with information on how you reached this page.</p>
    }           

        </div>
    </div>
</div>